# Exploratory Data Analysis

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('C:/Users/Luis/Documents/ML-AI-Projects/avocado-ripening/data/processed/avocado_ripening_data.csv')

In [7]:
data.head()

,File Name,Time Stamp,Sample,Day of Experiment,Ripening Index Classification,Overripening Day,Overripening Time Stamp,Time Unitl Overripening,Shelf-life Days,T10,T20,Tam
0,T20_d01_001_a_1,2022-04-04 18:56:55,1,1,1,9.0,2022-04-12 14:44:53,7 days 19:47:58,7.824977,0,1,0
1,T20_d01_001_b_1,2022-04-04 18:57:03,1,1,1,9.0,2022-04-12 14:44:53,7 days 19:47:50,7.824884,0,1,0
2,T20_d02_001_a_1,2022-04-05 14:16:21,1,2,1,9.0,2022-04-12 14:44:53,7 days 00:28:32,7.019815,0,1,0
3,T20_d02_001_b_1,2022-04-05 14:16:46,1,2,1,9.0,2022-04-12 14:44:53,7 days 00:28:07,7.019525,0,1,0
4,T20_d03_001_a_2,2022-04-06 15:08:50,1,3,2,9.0,2022-04-12 14:44:53,5 days 23:36:03,5.983368,0,1,0